<%- include('partials/slheader') %>
<div class="desktop-1">
    <img class="desktop-1-child" alt="" src="./images/rectangle-9.svg" /><img
      class="desktop-1-item"
      alt=""
      src="./images/rectangle-10.svg"
    />
    <main class="desktop-1-inner"></main>
    <img class="rectangle-icon" alt="" src="./images/rectangle-8.svg" /><img
      class="desktop-1-child1"
      alt=""
      src="./images/rectangle-7.svg"
    /><img
      class="desktop-1-child2"
      alt=""
      src="./images/rectangle-6.svg"
    /><img
      class="ellipse-icon"
      alt=""
      src="./images/ellipse-1@2x.png"
    /><form action="/s_login" method="post">
    <input class="rectangle-input" type="text" required placeholder="Email" name="username" /><input
      class="desktop-1-child3"
      type="text"
      name="password"
      required
      placeholder="Password"
    /><button class="rectangle-button" type="submit"></button
    ><strong class="log-in">Log In</strong
    ></form>
    <img
      class="lock-black-24dp-1-icon"
      id="pass"
      alt=""
      src="./images/lock-black-24dp-1.svg"
    /><button class="log-in1">Log In</button
    ><img
      class="face-modified-1-icon"
      alt=""
      src="./images/facemodified-1.svg"
    />
    <div class="line-div"></div>
    <img
      class="vector-icon"
      id="mail"
      alt=""
      src="./images/vector.svg"
    />
    <img
      class="file-2023-04-15-1234-1-icon"
      alt=""
      src="./images/file-20230415-1234-1.svg"
    />
    <a id="reg" href="s_register">Create an account?</a>
    <button class="desktop-1-child4"></button
    ><a href="/auth/google"><strong class="log-in-with">Log In with Google</strong
    ><img class="component-1-icon" id="google" alt="" src="./images/goo.png" /></a>
    <p class="or-connect-with">Or Connect with</p>
  </div>
  <%- include('partials/footer') %>