<%- include('partials/tlheader') %>
<div class="desktop-1">
    <img class="desktop-1-child" alt="" src="./images/polygon-1.svg" /><img
      class="desktop-1-item"
      alt=""
      src="./images/rectangle-1.svg"
    /><img
      class="teacher-removebg-preview-1-icon"
      alt=""
      src="./images/teacherremovebgpreview-1.svg"
    />
    <main class="desktop-1-inner"></main>
    <h1 class="log-in">Log In</h1>
    <button class="rectangle-button"></button
    ><a href="/auth/google" role="button">
    <button class="desktop-1-child2 log-in-with" id="btn"><img id="google" alt="" src="./images/icons8google-1.svg" />Log In with Google</button
    ></a>
    <form action="/t_login" method="post">
      <input class="rectangle-input" type="text" placeholder="Email" required name="username" /><input
      class="desktop-1-child1"
      type="text"
      name="password"
      placeholder="Password"
      required
    /><button class="log-in1" type="submit">Log In</button
    ></form>
    <img
      class="lock-black-24dp-1-icon"
      alt=""
      src="./images/lock-black-24dp-1.svg"
    /><img
      class="email-black-24dp-1-icon"
      alt=""
      src="./images/email-black-24dp-1.svg"
    /><img class="rectangle-icon" alt="" src="./images/rectangle-8.svg" /><img
      class="desktop-1-child3"
      alt=""
      src="./images/rectangle-7.svg"
    /><img class="desktop-1-child4" alt="" src="./images/rectangle-6.svg" />
    <img class="ellipse-icon" alt="" src="./images/ellipse-1@2x.png" />
    <img
      class="male-removebg-preview-1-icon"
      alt=""
      src="./images/maleremovebgpreview-1.svg"
    />
    <a id="reg" href="t_register">Create an account?</a>
    <p class="or-connect-with">Or Connect with</p>
    
  </div>
  <%- include('partials/footer') %>